<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studyhelper_android_firebase">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon144x144"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconround"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudyHelperAndroidFirebase">
        <activity
            android:name=".Teacher_popup_Pdf"
            android:exported="true" />
        <activity
            android:name=".teacher.Teacher_popup_Link"
            android:exported="true" />
        <activity
            android:name=".teacher.TeacherMainActivity"
            android:exported="true" />
        <activity
            android:name=".PdfView"
            android:exported="true" /> <!-- <activity -->
        <!-- android:name=".Register" -->
        <!-- android:exported="true" /> -->
        <activity
            android:name=".student.StudentMainActivity"
            android:exported="true" />
        <activity
            android:name=".course.Course_manager_home"
            android:exported="true" />
        <activity
            android:name=".complain.ComplainMain"
            android:exported="true" /> <!-- <activity -->
        <!-- android:name=".Register" -->
        <!-- android:exported="true" /> -->
        <activity
            android:name=".LoadingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>